/Aszteroida.class
/Aszteroidaöv.class
/Entitás.class
/Játék.class
/Nyersanyag.class
/Proba.class
/Robot.class
/Szomszéd.class
/Szén.class
/Telepes.class
/Teleportkapu.class
/Urán.class
/Vas.class
/Vízjég.class
/Útmutató.class
