/napvihar.class
/szenfuras.class
/uranfuras.class
/vasfuras.class
/telepesmozog.class
/teszt.class
/robotmozog.class
/banyaszas.class
/robotepites.class
/Print.class
/teleportkapuEpites.class
/uregesfuras.class
/szenbetolt.class
/vasbetolt.class
